W[1-9]A[1-9]/dataset/
W[1-9]A[1-9]/datasets/
W[1-9]A[1-9]/images/
W[1-9]A[1-9]/data/
W[1-9]A[1-9]/pretrained-model/
W[1-9]A[1-9]/nb_images/
W[1-9]A[1-9]/.DS_Store
W[1-9]A[1-9]/model_data/
W4A1/keras-facenet*