W[1-9]A[1-9]/dataset/
W[1-9]A[1-9]/datasets/
W[1-9]A[1-9]/images/
W[1-9]A[1-9]/data/
W[1-9]A[1-9]/pretrained-model/
W[1-9]A[1-9]/nb_images/
W[1-9]A[1-9]*/*.DS_Store
W[1-9]A[1-9]/model_data/
W[1-9]A[1-9]*/*/*.h5
W[1-9]A[1-9]*/*/**.npy
W[1-9]A[1-9]*/results/runs/*/events.out*
W[1-9]A[1-9]*/results/runs/*/*/events.out*
W4A1/keras-facenet*
W4A3_UGL/data
W4A3_UGL/model
W4A4_UGL_POS/glove